.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: rgba(240, 244, 248, 0.8);
}

.App-header {
  background-color: #34449c;
  background-size: cover;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}
